<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Login into PeoplesForum</title>
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/style.css">
  </head>

  <body>

    <div class="container">
  <div class="navbar-right">
  {% if user %}
  <a href="/logout">logout</a> {{ user }}
  <a href="/showqu">show</a>
  {% else %}
<!--   <a href="/login">login</a>
  <a href="/signup">signup</a> -->
  {% endif %}
  </div> 
  <div class="login">
  	<h1 class="login-heading">
      <strong>Welcome.</strong> Please login.</h1>
      <form method="post">
        <input type="text" name="username" value={{username}} placeholder="Username" required="required" class="input-txt" />
        <input type="password" name="password" value = "" placeholder="Password" required="required" class="input-txt" />

        <b style="color: red">{{error}}</b>

          <div class="login-footer">
             <a href="#" class="lnk">
              I've forgotten something
            </a>
            <button type="submit" class="btn btn--right">Sign in</button>
          </div>
      </form>
  </div>
</div>
    
        <script src="static/js/index.js"></script>
  </body>
</html>
